<!DOCTYPE html>
<html>
  <body>
  
  <h2>Predict Popular Beer Products</h2>
  
  <form method="POST" action="/">
    ABV:<br>
    <input type="number" step=any  name="ABV">
    <br><br>
    Median IBU:<br>
    <input type="number" step=any  name="Median IBU">
    <br><br>
    Style:<br>
    <input type="number" step=1 name="Style">
  
    
    <br><br>

    <input type="submit" value="Submit">
  </form>

  {% if pred %}
  <p>The probability of the beer poduct being popular is {{ pred }}</p>
  {% endif %}

  </body>
</html>
